<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s k a l a</title>
</head>
<body>
    <div>
        <h1><strong>Bienvenidos a ·s k a l a· </strong></h1>
        <br>
        <br>
        <p>Un blog sobre Economía, Liberalismo y próceres argentinos</p>
        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    
</body>
</html>